#dateRange-slider {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    height: 30px;
}

html, body, #map {
    width: 100%;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
#map{
    height: 83%;
}

#slider-caption, #country-selector {
    margin: 0;
    margin-left: 1%;
    padding: 5px;
    display: inline-block;
}
#country-selector select 
{
    width:300px;
    font-family:arial;
}
#priority-slider{
    width: 300px;
    margin-top: 20px;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
}
#priority-slider-caption {
    margin: 0;
    margin-left: 1%;
    padding: 5px;
    display: inline-block;
}
.ui-slider-handle{
    width: 0.2em !important;
    margin-left: 0 !important;
}